header {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  background: rgba(#212121,1);
  height:52px;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 3;
  border-bottom: 1px solid rgba(255,255,255,.22);
  color: #E0E0E0;

  transition: transform .3s;

  &.sidebar-visible {
    transform: translateX(260px);
  }

}